SUPABASE_URL=https://ovazoszvaibujwgrzzmh.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im92YXpvc3p2YWlidWp3Z3J6em1oIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzQ2NjYwMiwiZXhwIjoyMDkzMDQyNjAyfQ.uAREpsc-7MknmXJfb9e4J9dg-izXqcK9Y8QSk1DyFXE
FIREBASE_SERVICE_ACCOUNT=<existing>
PORT=3000
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_VERIFY_SERVICE_SID=your_twilio_verify_service_sid
ADMIN_PIN=your_new_pin_here
